body{
    text-align: center;
    background-color: #70a1ff;
}

#headerSection{
    padding: 5px;
}

#headerSection h1{
    font-family: 'Times New Roman', Times, serif;
}

input{
    padding: 10px;
    border-radius: 15px;
}

#dropbox{
    padding: 10px;
    border-radius: 15px;
    width: 10%;
}

#loginbutton{
    padding: 10px;
    border-radius: 15px;
    width: 10%;
    background-color: rebeccapurple;
    color: blanchedalmond;
}